<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4" class="container text-center">
        <c-card-header>
          <strong>Creation des offres</strong>
        </c-card-header>
        <c-card-body class="row">
            <div class="col">
                <P>Choisir un client</P>
                <div class="d-flex justify-content-center align-items-center">
                    <label cLabel for="nameForm">Nom:</label>
                    <input cFormControl
                            id="nameForm"
                            placeholder="nom"
                            type="text"
                            (input)="onChangeCustomer()"
                            #nomCustomerSearch
                    />
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <label cLabel for="mailForm">Email:</label>
                    <input cFormControl
                            id="mailForm"
                            placeholder="user@mail.com"
                            type="email"
                            (input)="onChangeCustomer()"
                            #emailCustomerSearch
                    />
                </div>
                <table [hover]="true" cTable>
                    <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">Email</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let service of list_customer; index as i"
                    (click)="onClickTableCustomer(service._id, service.nom)">
                      <td>{{service.nom}}</td>
                      <td>{{service.email}}</td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col">
                <p>Choisir un service</p>
                <div class="d-flex justify-content-center align-items-center">
                    <label cLabel for="nameSForm">Nom:</label>
                    <input cFormControl
                            id="nameSForm"
                            placeholder="nom"
                            type="text"
                            (input)="onChangeService()"
                            #nomServiceSearch
                    />
                </div>
                <table [hover]="true" cTable>
                    <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th scope="col">prix</th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let service of list_service; index as i"
                    (click)="onClickTableService(service._id, service.nom)">
                      <td>{{service.nom}}</td>
                      <td>{{service.prix}} Ar</td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            <div><p>Client choisi: <span class="text-info">{{customer_choisi.nom}}</span></p></div>
            <div><p>Service choisi: <span class="text-info">{{service_choisi.nom}}</span></p></div>
            <form [formGroup]="createForm" (ngSubmit)="onCreateSubmit(customer_choisi.id, service_choisi.id)" cForm>
              <div class="d-flex justify-content-center align-items-center">
                <label cLabel for="reducForm">Reduction:</label>
                <input cFormControl
                        id="reducForm"
                        placeholder="%"
                        type="number"
                        min="1"
                        max="100"
                        formControlName="reduction"
                />
              </div>
              @if(createForm.get('reduction')?.hasError('required') && createForm.get('reduction')?.touched) {
                <p class="text-danger">reduction is required</p>
              }
              <div class="d-flex justify-content-center align-items-center">
                <label cLabel for="dhForm">Date et heure fin:</label>
                <input cFormControl
                        id="dhForm"
                        placeholder=""
                        type="datetime-local"
                        formControlName="date_heure_fin"
                />
              </div>
              @if(createForm.get('date_heure_fin')?.hasError('required') && createForm.get('date_heure_fin')?.touched) {
                <p class="text-danger">date et heure fin is required</p>
              }
              <p *ngIf="error_date" class="text-danger">date et heure fin doit etre superieur a la date et heure maintenant </p>
              <div>
                <button *ngIf="is_loading_creation" cButton class="me-1" color="info" disabled>
                    <c-spinner aria-hidden="true" size="sm"></c-spinner>
                    Loading...
                </button>
                <button *ngIf="!is_loading_creation" cButton class="me-1"
                    color='info' type="submit">
                    Valider
                </button>
            </div>
          </form>
          <div>
            <p *ngIf="is_error_creation" class="text-danger"> Veuillez selectionner un client et un service </p>
        </div>
        <div>
          <p *ngIf="is_offer_exist" class="text-danger"> Une offre est encore valide pour ce client et ce service </p>
      </div>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Liste des offres a jour</strong>
        </c-card-header>
        <c-card-body>
          <!-- <p class="text-medium-emphasis small">
            Click the accordions below to expand/collapse the accordion content.
          </p> -->
            <!-- Table list of services -->
            <div *ngIf="is_loading" class="d-flex justify-content-center">
              <span><c-spinner color="secondary" size="sm"></c-spinner> loading...</span>
            </div>
            <table *ngIf="!is_loading" [hover]="true" cTable>
              <thead>
              <tr>
                <th scope="col">Customer</th>
                <th scope="col">Service</th>
                <th scope="col">Reduction (en %)</th>
                <th scope="col">Date et heure fin</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let service of list_offre; index as i">
                <td>{{service.id_customer.nom}}</td>
                <td>{{service.id_service.nom}}</td>
                <td>{{service.reduction}} %</td>
                <td>{{service.date_heure_fin | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td class="col-1">
                  <button cButton class="me-1" variant="outline" color="info"
                    (click)="onUpdateService(service._id)"
                    [cModalToggle]="updateModal.id">
                    <svg cIcon name="cil-pencil" size="xl"></svg>
                  </button>
                </td>
                <td class="col-1">
                  <button cButton class="me-1" variant="outline" color="danger" 
                    (click)="onDeleteService(service._id, service.id_customer.nom)"
                    [cModalToggle]="deleteModal.id">
                    <svg cIcon name="cil-trash" size="xl"></svg>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

<!-- Modal for update -->
<c-modal #updateModal
  [scrollable]="true"
  alignment="center"
  id="updateModal">
  <c-modal-header>
    <h5 cModalTitle>Update Service</h5>
    <button [cModalToggle]="updateModal.id" cButtonClose></button>
  </c-modal-header>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit(_id)" cForm>
    <c-modal-body>

      <div class="mb-3">
      <label cLabel for="customerFrom">Customer</label>
      <input cFormControl
            id="customerFrom"
            placeholder="customer"
            type="text"
            formControlName="customer"
      />
      @if(updateForm.get('customer')?.hasError('required') && updateForm.get('customer')?.touched) {
      <p class="text-danger">customer is required</p>
      }
      </div>
      <div class="mb-3">
      <label cLabel for="serviceFrom">Service</label>
      <input cFormControl
            id="serviceFrom"
            placeholder="service"
            type="text"
            formControlName="service"
            min="1"
      />
      @if(updateForm.get('service')?.hasError('required') && updateForm.get('service')?.touched) {
      <p class="text-danger">service is required</p>
      }
      </div>
      <div class="mb-3">
      <label cLabel for="reductionFrom">Reduction</label>
      <input cFormControl
            id="reductionFrom"
            placeholder="%"
            type="number"
            formControlName="reduction"
            min="1"
      />
      @if(updateForm.get('reduction')?.hasError('required') && updateForm.get('reduction')?.touched) {
      <p class="text-danger">reduction is required</p>
      }
      </div>
      <div class="mb-3">
      <label cLabel for="date_heure_finFrom">Date et heure fin</label>
      <input cFormControl
            aria-label="Default select date"
            id="date_heure_finFrom"
            placeholder=""
            type="datetime-local"
            formControlName="date_heure_fin"
      />
      @if(updateForm.get('date_heure_fin')?.hasError('required') && updateForm.get('date_heure_fin')?.touched) {
      <p class="text-danger">duree is required</p>
      }
      </div>

    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="updateModal.id" cButton color="secondary">
      Close
      </button>
      <button cButton color="primary" type="submit">Update</button>
    </c-modal-footer>
  </form>
</c-modal>
<!--  -->

<!-- Modal delete -->
<c-modal #deleteModal
  [scrollable]="false"
  alignment="center"
  id="deleteModal">
  <c-modal-header>
    <h5 cModalTitle><span class="text-danger">Attention!</span></h5>
    <button [cModalToggle]="deleteModal.id" cButtonClose></button>
  </c-modal-header>
    <c-modal-body>
        <h3>Cette action est irreversible</h3>
        <p>Etes vous sure de vouloir supprimer le service <span class="text-info">{{nomEmploye}}</span>?</p>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="deleteModal.id" cButton color="secondary">
      Non
      </button>
      <button cButton color="danger" type="submit" (click)="onDeleteSubmit(_id)">Oui</button>
    </c-modal-footer>
</c-modal>