<div *ngIf="isLoading" class="fade show spinner-container">
  <i class="spinner-grow spinner-grow-sm"></i>
  <span class="m-1">Loading...</span>
</div>
<c-card *ngIf="!isLoading" class="mb-4 border-warning">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Liste des services</h4>
        <!-- <div class="small text-medium-emphasis">January - December 2021</div> -->
      </c-col>
    </c-row>
    <c-row>
      <c-col *ngFor="let service of listService; index as i" lg="4">
        <c-card textColor="dark" class="mb-3">
          <c-card-header class="d-flex justify-content-between">
            {{ service.nom }}
            <button
              class="icon-button"
              *ngIf="!service.is_prefered"
              (click)="onCreatePreference(service._id)"
              aria-label="Ajouter au préféré"
            >
              <fa-icon
                [icon]="icons.faRegularHeart"
                class="text-danger"
                size="lg"
              ></fa-icon>
            </button>

            <button
              class="icon-button"
              *ngIf="service.is_prefered"
              (click)="onDeletePreference(service._id)"
              aria-label="Supprimer des préférés"
            >
              <fa-icon
                [icon]="icons.faSolidHeart"
                class="text-danger"
                size="lg"
              ></fa-icon>
            </button>
          </c-card-header>
          <c-card-body>
            <c-row>
              <c-col md="6"><h5 cCardTitle>Prix:</h5></c-col>
              <c-col md="6"
                ><p>{{ service.prix }} Ariary</p></c-col
              >
              <c-col md="6"><h5 cCardTitle>Durée:</h5></c-col>
              <c-col md="6"
                ><p>{{ service.duree }} min</p></c-col
              >
            </c-row>
            <button
              md="12"
              color="warning"
              class="form-control"
              cButton
              (click)="goToRDVForm(service._id)"
            >
              RDV
            </button>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
