<!-- <app-widgets-dropdown></app-widgets-dropdown> -->
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Nombre de reservation</h4>
        <div class="small text-medium-emphasis">{{current_year}}</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <!-- <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button> -->
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>

            <!-- <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label> -->
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
  <!-- <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>24.093 Users (20%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>78.706 Views (60%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer> -->
</c-card>

<!-- Chart CA par jour et par mois -->

<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Chiffre d'affaire (Ar)</h4>
        <div class="small text-medium-emphasis">{{current_year}}</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <!-- <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button> -->
        <form [formGroup]="trafficRadioGroupCA">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadioCA"
              type="radio"
              value="DayCA"
            />
            <label
              (click)="setTrafficPeriodCA('DayCA')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadioCA"
              type="radio"
              value="MonthCA"
            />
            <label
              (click)="setTrafficPeriodCA('MonthCA')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>

            <!-- <input
              class="btn-check"
              formControlName="trafficRadioCA"
              type="radio"
              value="YearCA"
            />
            <label
              (click)="setTrafficPeriodCA('YearCA')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label> -->
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChartCA.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChartCA.options"
      [type]="mainChartCA.type"
    >
      CA chart
    </c-chart>
  </c-card-body>
  <!-- <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>24.093 Users (20%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>78.706 Views (60%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer> -->
</c-card>

<!-- <app-widgets-brand [withCharts]="true"></app-widgets-brand> -->
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Temps moyen de travail pour chaque employe (en minutes)</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Employe</th>
              <th>Email</th>
              <th>Tel</th>
              <th>Moyenne (minutes)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of employe; index as i">
              <td class="text-center">
                <c-avatar
                  size="md"
                  src="{{ user.image }}"
                ></c-avatar>
              </td>
              <td>
                <div>{{ user.nom }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    Registered since: {{ user.created_at }}
                  </span>
                </div>
              </td>
              <td>
                <span>
                  {{user.email}}
                </span>
              </td>
              <td>
                {{user.tel}}
                <!-- <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ user.usage }}%</strong>
                  </div>
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                      {{ user.period }}
                    </small>
                  </div>
                </div>
                <c-progress thin>
                  <c-progress-bar
                    [value]="user.usage"
                    color="{{ user.color }}"
                  ></c-progress-bar>
                </c-progress> -->
              </td>
              <!-- <td class="text-center">
                <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
              </td> -->
              <td>
                <div class="fw-semibold text-nowrap">{{ user.moyenne }} minutes</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
